{% extends 'shared/layout.html' %}
{% load thumbnail %}
{% block title %}
    درباره ما
{% endblock %}
{% block content %}
    <div id="contact-page" class="container">
        <div class="bg">

            <div class="row">
                <div class="col-sm-4">
                    <div class="contact-info">
                        <h2 class="title text-center">لوگـو شرکت</h2>
                        {% thumbnail setting.image "400x400"  quality=95 as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="about">
                        <h2 class="title text-center">دربـاره ما</h2>
                        <p class="about-desc">
                            {{ setting.text }}
                        </p>
                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 about-address">
                    <address>
                        <p>
                          ایمیل :     {{ setting.email }}     /
                            تلفن تماس :  {{ setting.number }}       /
                             آدرس :{{ setting.address }}
                        </p>

                    </address>
                </div>
            </div>
        </div>
    </div>
{% endblock %}