<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>فعالسازی حساب کاربری</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>فعالسازی حساب کاربری</h1>
        </div>
        <div class="col-8">
            <form action="{% url 'activate_account' email_active_code=user.email_active_code %}">
                <p>برای فعالسازی حساب کاربری بر روی دکمه زیر کلیک کنید 👇👇</p>
                <button type="submit" class="btn btn-block btn-success">فعالسازی حساب کاربری</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>